body{
    background-image: url("../img/background.jpg");
    background-size: 250px;
}

h1{
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px #000000;
}
h2{
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px #000000;
}
#dealerTotal{
    color: #df0000;
}

#dealerBlackjackBanner{
    color: #87cefa;
}

#dealerBustBanner{
    color: #29475e;
}

#playerTotal{
    color: #df0000;
}

#playerBlackjackBanner{
    color: #87cefa;
}

#playerBustBanner{
    color: #29475e;
}

.dealerBox{
    border: 5px solid #ffffff;
    margin: auto auto 40px auto;
    height: 30%;
    width: 70%;

}

.playerBox{
    border: 5px solid #ffffff;
    margin: auto;
    height: 30%;
    width: 70%;
}